.DS_Store
test/.DS_Store
test/data/.DS_Store
Manifest.toml

# When everything is registered, we can undocument this and use the normal deploy
# methods, but for now - we are going to do this old school
# docs/build/